layout {

    focus-ring {
        active-color   "#d77975"
        inactive-color "#231a1a"
        urgent-color   "#f21c11"
    }

    border {
        active-color   "#d77975"
        inactive-color "#231a1a"
        urgent-color   "#f21c11"
    }

    shadow {
        color "#231a1a70"
    }

    tab-indicator {
        active-color   "#d77975"
        inactive-color "#7b221f"
        urgent-color   "#f21c11"
    }

    insert-hint {
        color "#d7797580"
    }
}

recent-windows {
    highlight {
        active-color "#d77975"
        urgent-color "#f21c11"
    }
}
