layout {

    focus-ring {
        active-color   "#ffb3ae"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    border {
        active-color   "#ffb3ae"
        inactive-color "#000000"
        urgent-color   "#ffb4ab"
    }

    shadow {
        color "#00000070"
    }

    tab-indicator {
        active-color   "#ffb3ae"
        inactive-color "#ff5352"
        urgent-color   "#ffb4ab"
    }

    insert-hint {
        color "#ffb3ae80"
    }
}

recent-windows {
    highlight {
        active-color "#ffb3ae"
        urgent-color "#ffb4ab"
    }
}
